.wrapper
  .left
    .nickname
      .user-content
        %p.user-content__name
          = current_user.name
        %ul.menu
          %li.user-content__setting
            = link_to edit_user_path(current_user) do
              = fa_icon 'gear'
          %li.user-content__pencil
            =link_to new_group_path do
              = fa_icon 'edit'
    = render "messages/group_list"
