.wrapper
  .left
    .nickname
      .user-content
        %p.user-content__name
          = current_user.name
        %ul.menu
          %li.user-content__setting
            = link_to edit_user_path(current_user) do
              = fa_icon 'gear'
          %li.user-content__pencil
            =link_to new_group_path do
              = fa_icon 'edit'
    = render "messages/group_list"


  .right
    .header
      .left-header
        %p.left-header__title title
        %ul.members
          %li.members__list Member :
          %li.members__list name1
          %li.members__list name2
      .edit
        = link_to 'Edit',"#"
    .messages
      .message
        .upper-message
          %p.upper-message__user-name name
          %p.upper-message__date 2018.10.18
        %p.upper-message__content message1
        %img.upper-message__image image1
      .message
        .upper-message
          %p.upper-message__user-name name
          %p.upper-message__date 2018.10.18
        %p.upper-message__content message2
        %img.upper-message__image image2
      .message
        .upper-message
          %p.upper-message__user-name name
          %p.upper-message__date 2018.10.18
        %p.upper-message__content message3
        %img.upper-message__image image3

    .footer
      %form
        .message-form
          %input.message-form__message-content{type: "text_field", placeholder: "type a message"}
            %label
              %input.message-form__icon{type: "file"}
              %i.message-form__image
                = fa_icon 'image'
          %input.message-form__button{type: "submit", value: "Send"}

